*{
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: #f1f1f1;
}


.dark{
  background-color: #222;
}

/* Styling for header */
header{
  display: grid;
  grid-template-columns: .05fr 2fr 3fr;
  align-items: center;
  gap: 10px; 
  margin-bottom: 10px;
  padding-top: 20px;
  padding-bottom: 25px;
}

.logo{
  display: inline-flex;
}

.light .logo{
  background-color: #f1f1f1;
}
.dark .logo{
  color: #f1f1f1;
}

#byte{
  position: relative;
  bottom: 12px;
  font-size: 45px;
}


#NavBar ul{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* #NavBar ul li {
  display: inline;
  padding-right: 15px;
} */

#NavBar ul .navLinks,
.logo,
#planet,
.postImg,
.postH2 {
  text-decoration: none;
  color: black;
  font-weight: 800;
  font-size: 23px;
  background-image: linear-gradient(
    to right,
    #54b3d6,
    #54b3d6 50%,
    #000 50%
  );
  background-size: 200% 100%;
  background-position: 100%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

#NavBar ul .navLinks:hover,
.logo:hover{
  background-position: 0;
}

.dark #NavBar ul .navLinks,
.dark .logo, 
.dark #planet,
.dark .postImg,
.dark .postH2{
  color: #f1f1f1;
  font-weight: 800;
  background-image: linear-gradient(
    to right,
    #a563a8,
    #7d54d6 50%,
    #f1f1f1 50%
  );
}
.dark .logo{
  color: #f1f1f1;
}

.dark #NavBar ul .navLinks:hover{
  background-position: 0;
}



.toggle{
  display: flex;
  justify-content: flex-end;
}

.sun{
  color: #f1f1f1;
}

button{
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.horizontal-line {
  border: 2px solid black;
  width: 93%;
  margin: 0 auto;
  margin-bottom: 7%;
  border-radius: 15px;
}

.dark .horizontal-line {
  border: 2px solid #f1f1f1;
}


@media screen and (max-width: 887px){
  #NavBar,
  .navLinks{
    display: none;
  } 
  header{
    display: flex;
    justify-content: center;
    margin-bottom: 0;
  }
  #logoContainer{
    margin: 0 auto;
  }
  #byte{
    position: relative;
    bottom: 10px;
    font-size: 60px;
  }

  #planet{
    size: 95px;
  }
}



/* Styling for Post component */

.content{
  width: 90%;
  padding-left: 5%;
}

.post{
  display: grid;
  grid-template-columns: 2fr .2fr 2fr;
  margin-bottom: 35px;
  justify-content: space-around;
  margin-left: 35px;
  margin-right: 35px;
}

.postImg{
  max-width: 100%;
  border-radius: 22px;
}

.imgContainer{
  width: 100%;
  display: flex;
  justify-content: center;
}

.content .postH2{
  margin: 0;
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 25px;
}

.postInfo{
  margin: 0 auto;
  color: #333;
  font-size: .7rem;
  display: flex;
  gap: 13px;
}

.postAuthor{
  color: #333;
}

.postText{
  line-height: 1.5rem;
  font-size: 20px;
  letter-spacing: 3px;
  margin-bottom: 17px;
}

@media screen and (max-width: 1099px){
  .post {
    display: block;
    grid-auto-columns: 49%;
    }
    .content{
      display: grid;
      justify-content: center;
      width: 70%;
      margin: 0 auto;
    }
    .postImg{
      max-width: 100%;
      border-radius: 22px;
      margin-bottom: 7%;
    }
}

@media screen and (max-width: 1000px){
    .content{
      width: 100%;
    }
}

/* login page */

.formBox{
  background-color: #54b3d6;
  max-width: 550px;
  height: 400px;
  margin: 0 auto;
  border-radius: 17px;
  padding-bottom: 25px;
  padding-top: 15px;
  border-bottom: 5px solid grey;
  border-right: 4px solid grey;
}

.login,
.registerForm{
  max-width: 400px;
  margin: 0 auto;
}

.login{
  padding-bottom: 20%;
}

input{
  display: block;
  margin-bottom: 20px;
  width: 100%;
  padding: 5px 9px;
  border-radius: 5px;
  border: 0;
  background-color: #ffffff;
  border-bottom: 2px solid grey;
  border-right: 2px solid grey;
}

#loginBtn,
#registerBtn,
.postBtn {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  background-color: #555;
  width: 40%;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 9px;
}

form h2{
  text-align: center;
  margin: 30px 30px;
}

.login p,
.registerForm p{
  text-align: center;
  margin-top: 75px;
}

.loginDiv{
  height: 100vh;
}

/* ByteWrite Post Form */

.postForm{
  width: 90%;
  margin: 0 auto;
}

.postBtn{
  margin-top: 15px;
}

/* Styling for single viewing post page */

.inline{
  display: inline;
  font-weight: 300;
  font-size: 10px;
}

#singlePostBox{
  width:90%;
  margin: 0 auto;
}

#singlePostImg{
  margin: 0 auto;
  width: 100%;
  border-radius: 11px;
  border: 1.5px solid grey;
}
#singPostSummary{
  margin-top: 10px;
  margin-bottom: 15px;
  font-style: italic;

}

#singlePostTitle{
  text-align: center;
  margin-bottom: 4%;
  font-weight: 900;
  font-size: 44px;
}

#singPostContent{
  width: 100%;
  line-height: 24px;
  word-spacing: 2px;
  font-weight: 500;
}


/* Update Post */

.dark .updateDiv{
  height: 100vh;
  width:95%;
  background-color: #222;
  margin: 0 auto;
  
}

.Formbox{
  border: 2px #222 solid;
  background-color: #f1f1f1;
  padding: 3%;
  border-radius: 9px;
}

.dark .Formbox{
  border: 2px #f1f1f1 solid;
  padding: 3%;
  background-color: rgb(109, 107, 107);
}