*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.light{
  background-color: #f1f1f1;
  height: 100vh;
}
.dark header{
  background-color: #37474f;
  color: #f1f1f1;
}

/* Styling for header */
header{
  display: grid;
  grid-template-columns: .05fr 2fr 3fr;
  align-items: center;
  gap: 10px; 
  margin-bottom: 8%;
  padding-top: 20px;
  padding-bottom: 25px;
}

.logo{
  display: inline;
  justify-content:start;
}

#byte{
  position: relative;
  bottom: 12px;
  font-size: 45px;
}


#NavBar ul{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction:row;
}

#NavBar ul li {
  display: inline;
  padding-right: 15px;
}

#NavBar ul .navLinks {
  text-decoration: none;
  color: black;
  font-weight: 800;
  font-size: 23px;
  background-image: linear-gradient(
    to right,
    #54b3d6,
    #54b3d6 50%,
    #000 50%
  );
  background-size: 200% 100%;
  background-position: 100%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

#NavBar ul .navLinks:hover{
  background-position: 0;
}



.toggle{
  display: flex;
  justify-content: flex-end;
}

button{
  background-color: transparent;
  cursor: pointer;
  border: none;
}


@media screen and (max-width: 887px){
  #NavBar,
  .navLinks{
    display: none;
  } 
  header{
    display: flex;
    justify-content: center;
    margin-bottom: 0;
  }
  #logoContainer{
    margin: 0 auto;
  }
  #byte{
    position: relative;
    bottom: 10px;
    font-size: 60px;
  }
  #planet{
    size: 95px;
  }
}



/* Styling for Post component */

.content{
  width: 90%;
}

.post{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 35px;
  justify-content: space-around;
  margin-left: 35px;
  margin-right: 35px;
}

.postImg{
  max-width: 100%;
  border-radius: 22px;
}

.imgContainer{
  width: 100%;
  display: flex;
  justify-content: center;
}

.content .postH2{
  margin: 0;
  font-size: 1.8rem;
}

.postInfo{
  margin-top: 6px;
  color: #333;
  font-size: .7rem;
  display: flex;
  gap: 13px;
}

.postAuthor{
  color: #333;
}

.postText{
  line-height: 1.5rem;
}

@media screen and (max-width: 1099px){
  .post {
    display: block;
    grid-auto-columns: 49%;
    }
    .content{
      display: grid;
      justify-content: center;
      width: 70%;
      margin: 0 auto;
    }
    .postImg{
      max-width: 100%;
      border-radius: 22px;
      margin-bottom: 7%;
    }
}

@media screen and (max-width: 1000px){
    .content{
      width: 100%;
    }
}

/* login page */

.formBox{
  background-color: #54b3d6;
  max-width: 550px;
  height: 400px;
  margin: 0 auto;
  border-radius: 17px;
  padding-bottom: 25px;
  padding-top: 15px;
  border-bottom: 5px solid grey;
  border-right: 4px solid grey;
}

.login,
.registerForm{
  max-width: 400px;
  margin: 0 auto;
}

input{
  display: block;
  margin-bottom: 20px;
  width: 100%;
  padding: 5px 9px;
  border-radius: 5px;
  border: 0;
  background-color: #ffffff;
  border-bottom: 2px solid grey;
  border-right: 2px solid grey;
}

#loginBtn,
#registerBtn{
  display: flex;
  justify-content: center;
  margin: 0 auto;
  background-color: #555;
  width: 40%;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 9px;
}

form h2{
  text-align: center;
  margin: 30px 30px;
}

.login p,
.registerForm p{
  text-align: center;
  margin-top: 75px;
}